* {
    margin:0;
    padding:0;
    border:0;
}

html {
    height:100%;
    width:100%;
}

body{
    min-height: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: darkslategray;
}


.header {
    font-size: 2em;
}

.calculator-body {
    width:300px;
    background-color:dimgray;
    padding:70px 50px 110px 50px;
    border:5px black groove;
    
}

.display {
    width:300px;
    height:100px;
    box-sizing: border-box;
    padding:20px;
    border:3px black groove;
    margin-bottom: 50px;
    font-size:3em;
    background-color: lightgray;
    text-align:right;
}

.buttons {
    display:flex;
    flex-wrap: wrap;
}

.numbers {
    flex:3;
}

.functions {
    flex:2;
    padding-left:5px;
    border-left: 1px antiquewhite solid;
}

button {
    padding:10px 20px;
    width:50px;
    height:50px;
    margin:2px;
    box-sizing: border-box;
    border:2px solid black;
}