@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');

* {
    margin:0;
    padding:0;
    border:0;
}

html {
    height:100%;
    width:100%;
}

body{
    min-height: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(33, 37, 28);
}


.header {
    font-size: 2em;
}

.calculator-body {
    box-sizing: border-box;
    width:440px;
    height:635px;
    background-color:white;
    border:5px white solid;    
    border-radius: 10px;
}

.display {
    width:400px;
    height:100px;
    box-sizing: border-box;
    padding:20px;
    border:3px black groove;
    margin: 10px 15px 5px 15px;
    font-size:3em;
    background-color: lightgray;
    text-align:right;
    font-family:"Cabin", sans-serif;

}

.buttons {
    display:flex;
    width:400px;
    height:500px;
    margin:0px 15px 10px 15px;
}

.numbers {
    flex:3;
    display:flex;
    flex-wrap:wrap;
}

button {
    flex:1 0 33%;
    box-sizing: border-box;
    border:2px solid black;
    height:20%;
    font-size:3em;
    font-family:"Cabin", sans-serif;
}

.top-function {
    background-color:rgb(41, 41, 41);
    color:white;
}

.number {
    background-color:rgb(147, 228, 255);
}

.functions {
    flex:1;
    display:flex;
    flex-wrap:wrap;
}

.zero {
    flex:1 0 66%;
}

.function {
    flex:1 0 100%;
    background-color:rgb(255, 147, 214);
}